html,
body {
    margin: 70px 0 0;
}
.nav-item  {
    padding-top: 70px;
}

.navbar {
    height: 70px;
    z-index: 10;
}

.navbar a {
    color: #322D53 !important;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.navbar a:hover {
    color: #FF704D !important;
    text-decoration: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.btnbutoniNav:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-brand {
    font-size: 1.5rem;
    margin: 0;
    padding: 1.1rem 0 0.9rem 0.5rem;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar li {
    padding: 10px !important;
}

#butoniNav {
    background-color: #FF704D;
    color: white;
    border-radius: 25px;
    border-style: none;
    width: 10rem;
    margin-right: 50px;
}

#butoniNav:hover {
    background-color: #322D53;
}

/*Dropdown Css*/
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 5px;
  border: none;
}


/* .dropdown-submenu {
    position: relative;
} */
/* .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
} */
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
/* .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
} */
/* .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
} */
/* .dropdown-submenu.pull-left {
    float: none;
} */
/* .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} */
/*./Dropdown Css*/


/* FOOTER */

footer {
    background-color: #F8F7F6 !important;
}

.footer-navbar ul li {
    padding: 0 15px 0 0;
}

.footer-navbar a {
    color: #949494 !important;
    line-height: 1.8;
}

.footer-links p,
.footer-links ul li a {
    color: #949494 !important;
    line-height: 1.8;
    font-weight: 400;
}

footer p {
    margin-bottom: 0;
}

.footer-navbar a,
.footer-links a {
    position: relative;
}

.footer-navbar a:after,
.footer-links a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FF704D;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.footer-navbar a:hover:after,
.footer-links a:hover:after {
    width: 100%;
    left: 0;
}

.footer-navbar a:hover,
a:hover .fa,
.footer-links a:hover {
    color: #FF704D !important;
    text-decoration: none;
}

a .fa {
    color: #322D53 !important;
    font-size: 20px;
}

.footer-links h5 {
    color: #322d53;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 16px;
}

@media only screen and (min-width: 992px) {
    .border-footer {
        border-top: 1px solid rgba(132, 132, 132, .17);
        border-bottom: 1px solid rgba(132, 132, 132, .17);
    }
}

.back-to-top.active {
    right: 25px;
    border-radius: 25px;
}

.back-to-top {
    position: fixed;
    z-index: 100;
    bottom: 40px;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;
    font-weight: 900;
    color: #949494;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 51px;
    /* transition: all 250ms ease-in-out; */
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, .045);
}

.back-to-top:hover {
    bottom: 46px;
}

/* FOOTER */

<<<<<<< HEAD
.blognumbers .page-numbers {
    margin: 5px;
}
.current {
    font-weight: 500;
    color: #FF704D;
}
.blogsettings{
 margin: 0 5vw;
 padding: 0;
}
.blogsettings .blogunder {
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.blogsettings h3 {
    color: #322d53;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
}
.blogsettings .post-categories {
    color: grey;
    list-style-type: none;
    margin: 0 !important;
    padding: 0 0 0 5px;
    color: #FF704D;
}
.blogsettings p{
    text-align: justify;
}
.blogsettings hr {
    border: none;
    height: 2px;
    background-color: #FF704D;
}
=======

/* home  */
.containerhome{
    width: 70%;
    margin: 0 auto;
}

.datakoha{
    font-weight: bold;
}

.titulli123{
    font-size: 50px;
    text-align: center;
    font-family: monospace;
    margin-bottom: 15px;
}
.konten{
    font-size: 10px;
    text-align: center;
}
.linebet{
    height:2px;
    border-width:3;
    color:gray;
    background-color:gray
}
.pagi{
    text-align: center;
    display: block;
}
h3 a{
    background-color: rgba(51, 51, 51, 0.26);
}


>>>>>>> 1bd100c6287a93c8091d0beb70d8b484eaf7c3ca
