.contactsett {
    height: 100vh !important;
    margin: 0 !important;
    background-color: #f8f7f6;
}
.contactleftside {
    /* background-color: #FF704D; */
    background: url("../images/charity7.jpg");
    border-radius: 0 25% 25% 0; 
    color: white;
}
.contactitems i {
    color: white !important;
}
.contactitems{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3rem !important;
}
.contactrightside{
    background-color: #f8f7f6;
}
.butminoradds{
    height: 50px;
}
.butminoradds:focus,
.butminoradds:active {
    outline: none !important;
    box-shadow: none !important;
}

.contactleftside{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media only screen and (max-width: 760px) {
    .contactleftside {
        border-radius: 0 ;
        padding: 50px 0; 
    }
    .contactsett {
       margin-bottom: 100px !important;
    }
}
